
body {
    background-image: url( /theme/images/boomer-small.png );
}

.main {
    background-color: white;
    border: 1px solid #bbb;
}

.navbar .brand {
    color: red;
    font-family: Lobster, script;
}

h1, h2, h3, h4 { font-family: Lobster; }

a {
    color: #a00;
}
a:hover, .navbar a:hover {
    color: #d00;
}

footer {
    background-color: #eee;
    border: 1px solid #bbb;
    border-bottom: none;
}

footer li {
    margin: 0;
    padding: 0;
}

.main {
    padding: 0 1%;
}

/**
 * Don't allow main content images to push things around
 */
.main img {
    max-width: 100%;
}

figure {
    float: right;
    width: 30%;
    border: 1px solid black;
    background: #eee;
    padding: 0.5em;
    margin: 0 10px;
}

figure img {
    max-width: 100%;
}

figcaption {
    font-size: smaller;
}
